<h1><%= @game.title %></h1>
<img src="<%= @game.image_url %>">
<h4> info: <%= @game.info%></h4>

<%= form_for [@game, @comment] do |f| %>
    <p>
        <%= f.label :body, 'Comment' %></br>
        <%= f.text_area :body %>
    </p>
    <p><%= f.submit  "Submit Comment" %></p>

    <% end %>

<ul>
    <% @game.comments.each do |c| %>
    <li>
        <p><%= c.body %></p>
        <p><%= c.user.name %></p>
        <%= link_to '( Delete ', game_path(c),
                    method: :delete,
                    data: { confirm: 'Are You Sure?'  } if c.user == current_user %>
        <%= link_to '| Edit )', edit_game_path(c),
                    method: :get if c.user == current_user %>
    </li>
    <% end %>
</ul>
