<h1><%= @game.title %></h1>
<img src="<%= @game.image_url %>">
<h4> info: <%= @game.info%></h4>
<h4> likes: <%= @game.likes.count %></h4>
<%= link_to image_tag('like2.png', class: 'like-icon'), game_likes_path(@game), method: :post if current_user  && !current_user.games.include?(@game) %>
<%= link_to image_tag('unlike2.png', class: 'unlike-icon'), like_path(@game), method: :delete if current_user  && current_user.games.include?(@game) %>

<%= form_for [@game, @comment] do |f| %>
    <p>
        <%= f.label :body, 'Comment' %></br>
        <%= f.text_area :body %>
    </p>
    <p class="submit"><%= f.submit  "Submit Comment" %></p>

    <% end %>

<div class="comments">
    <% @game.comments.each do |c| %>
    <li>
        <p><%= c.body %></p>
        <p><%= c.user.name %></p>
        <%= link_to ' Delete ', comment_path(c), method: :delete, data: { confirm: 'Are You Sure?'  } if c.user == current_user %>
        <%= link_to '| Edit ', edit_comment_path(c),
                    method: :get if c.user == current_user %>
    </li>
    <% end %>
</div>