<!DOCTYPE html>
<html lang="en">
<head>
    <title>GameHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <h1 class="main"> Welcome to GameHub!</h1>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Bungee+Inline" rel="stylesheet">
</head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a class="liked" href="#">Liked</a>
</div>
  </header>
  <p class="account">
    <% if current_user %>
    Welcome, <%= current_user.name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
  <% else %>
    <%= link_to 'Log In', login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
</p>
<%= yield %>
</body>
</html>